extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Deepak Kumar

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack Java Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |I am an experienced backend developer with a strong background in Spring Boot and microservices. Over the past 5 years, I have honed my skills working in various industries, including telecommunications, software development, and IT consulting.

            |My expertise lies in designing and developing scalable and resilient backend systems using Java, Spring Boot, and various microservices frameworks. I am familiar with agile development methodologies and have experience working in cross-functional teams.

            |During my tenure at THBS, Amdocs, Bharti Airtel, and SRM Software Inc., I have successfully delivered complex projects, from concept to deployment. I have worked on various technologies, including RESTful APIs, Docker, Kubernetes, and AWS.

            |I am a quick learner and enjoy keeping up with the latest technologies and trends in the field. I believe in writing clean and maintainable code, with a focus on quality and performance. I am a team player, with excellent communication and collaboration skills.

            |If you're looking for a skilled backend developer who can deliver high-quality, scalable solutions using Spring Boot and microservices, look no further. I would love to discuss how I can contribute to your team and help your organization achieve its goals. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Java
          li Spring
          li React js
          li AWS
          li GIT 
          li DevOps
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-928-2765
          li Deepak.kumar7v@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/deepak-kumar-bir/') LinkedIn
        a.button.expanded(href='https://github.com/drake7') GitHub
        a.button.expanded(href='mailto:deepak.kumar7v@gmail.com') Gmail
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  